// layout_file.kdl

layout {
    pane split_direction="vertical" {
        pane split_direction="horizontal" {
            pane {
                size "90%"
                focus true
                command "nvim"
                args "./src/"
            }
            pane {
                size "10%"
                command "typst"
                args "watch" "./src/report.typ"
            }
        }
        pane {
            command "tdf"
            args "./src/report.pdf"
        }
    }
}

